<div class="chat-window">
  <div class="header">
    <div class="prof">
    <div>
      <img 
      [src]="user?.profilePicture || 'assets/image1.png'" 
      alt="Profile picture of {{user?.firstname}}">
    </div>
    <div>
      <h3>{{ user?.firstname }} {{ user?.lastname }}</h3>
      <div class="status">
        <div 
          class="light" 
          [ngClass]="{'active': user?.status === 'active', 'inactive': user?.status !== 'active'}">
        </div>
        <span class="online">{{ user?.status }}</span>
      </div>
    </div>
  </div>
    <span class="actions">
      <button class="profile-btn" (click)="showProfile(senderId)">Profile</button>
      <button class="call-btn">Call</button>
    </span>
  </div>
  

  <div class="messages"   #messagess>
    <!-- Loop through grouped messages by date -->
    <div *ngFor="let group of groupedMessages">
      <!-- Display the date -->
      <div class="date-header" style="text-align: center;">{{ group.date }}</div>

      <!-- Loop through each message for that date -->
      <div class="message" *ngFor="let message of group.messages" [ngClass]="{'sent': message.sent, 'received': !message.sent}">
        <p>{{ message.text }}</p>
        <div class="time">{{ message.time }}</div>
      </div>
    </div>
  </div>

  <div class="input">
    <input type="text" [(ngModel)]="newMessage" placeholder="Write a message..." (keyup.enter)="sendMessage()">
    <button class="send-btn" (click)="sendMessage()">Send</button>
  </div>
</div>
